{% extends "blog/base.html" %} {% block content %}
<h1 class="mb-4 border-bottom">
  Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})
</h1>
{% for post in posts %}
<article class="media content-section">
  <a href="{% url 'user-posts' post.author.username %}">
    <img
      class="rounded-circle article-img"
      src="{{ post.author.profile.image.url }}"
      alt="{{ post.author.username }}'s profile picture"
    />
  </a>
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' post.author.username %}"
        >{{ post.author }}</a
      >
      <small class="text-muted"
        >{{ post.date_posted| date:'F jS, Y, H:i' }}</small
      >
    </div>
    <h2>
      <a class="article-title" href="{% url 'post-detail' post.pk %}"
        >{{ post.title }}</a
      >
    </h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
{% endfor %}
<!-- paginator -->
{% if is_paginated %} {% for num in page_obj.paginator.page_range %}
<!-- if current -->
{% if num == page_obj.number %}
<a class="btn btn-danger mb-4" href="?page={{ page_obj.number }}"
  >{{ page_obj.number }}</a
>
<!-- if first -->
{% elif num == 1 %}
<a class="btn btn-outline-danger mb-4" href="?page=1">First</a
><span class="m-2 fw-bold">...</span>
<!-- if last -->
{% elif num == page_obj.paginator.num_pages %}
<span class="m-2 fw-bold">...</span>
<a
  class="btn btn-outline-danger mb-4"
  href="?page={{ page_obj.paginator.num_pages }}"
  >Last</a
>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-danger mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %} {% endfor %} {% endif %} {% endblock content %}
